.card-img {
    margin:auto;
    height:18vw;
    display:block;
}
section{
    margin: 15em;
    margin-left: 20em;
   
}

.card-img {
    margin-top: 2em;
    overflow:hidden;
    -webkit-border-radius:50px;
    -moz-border-radius:50px;
    border-radius:50px;
    width:90px;
    height:90px;
}
body{
    background-image: url("https://cdn.pixabay.com/photo/2016/11/18/16/51/leaves-1835780_1280.jpg");
}
.card-header {
    display: flex;
    justify-content: space-between;
}
.card-deck {
    width: 100%;
}