.card-img {
    margin:auto;
    height:18vw;
    display:block;
}
section{
    margin: 15em;
    margin-left: 20em;
   
}

.card-img {
    margin-top: 2em;
    overflow:hidden;
    -webkit-border-radius:50px;
    -moz-border-radius:50px;
    border-radius:50px;
    width:90px;
    height:90px;
}
body{
    background-image: url("https://iphonesoft.fr/images/_072017/blur-flou-wallpaper-fond-ecran-iphone-retina-2.jpg");
}
.card-header {
    display: flex;
    justify-content: space-between;
}
.card-deck {
    width: 100%;
}
