body {
    background-image: url('https://cdn.pixabay.com/photo/2019/04/03/19/50/lyon-4101256_1280.jpg');
    
  }
.container {
    margin-top: 1em;
   width: 70%;
    height: 100%;
  }
  form {
    padding: 2.5rem;
    background: rgb(255, 255, 255);
    width: 50%;
  }
  label {
    font-size: .85rem;
    text-transform: uppercase;
    color: black;
  }
  .form-control {
    background-color: transparent;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-radius: 0;
  }
  .btn--form {
    padding: .5rem 2.5rem;
    font-size: .95rem;
    font-weight: 600;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.822);
    background: rgb(0, 0, 0);
    display: block;
   margin : auto;
  }

  .profilPic {
    display: block;
    margin : auto;
  }
  